<main>
  <div class="container">
    <section class="form-section">
      <div class="form-header">
        <h2>{{ title }}</h2>
        <div class="form-img">
          <img src="../../../assets/image/fundo-login.png" alt="">
        </div>
      </div>
      <ng-content></ng-content>
      <div class="btn-wrapper">
        <button class="btn-primary" (click)="submit()" [disabled]="disabledPrimaryBtn">{{ primaryBtnText }}</button>
        <button class="btn-secondary" (click)="navigate()">{{ secondaryBtnText }}</button>
      </div>
    </section>
    <section class="main-section">
      <img src="../../../assets/image/fundo-login.png" alt="">
    </section>
  </div>
</main>