@import "../../../styles/style.scss";

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 30px;

  div {
    display: flex;
    justify-content: end;
    
    span {
      font-size: .9rem;
      color: $text-color;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}